.skill-title{
    grid-area: skill-title;

    margin: 4rem 0;
}

.skill-title h2{
    color: var(--know-more);
    font-size: 3.8rem;
} 

.skill-title p{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 300;
    width: 70%;
    padding-top: 1rem;
    text-align: center;
}